<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>

<div class="chat-container">
  <div class="chat-header">
    Talk with rocky
  </div>
  <div class="chat-messages">
    <!-- Sample messages for visualization -->
    <div id="message-container">
      
      
    </div>
    <!--  
    <div class="message-container">
        <div class="message ai-message"></div>
      <div class="message user-message">
      </div>
    </div>
    -->
  </div>
  <div id="chat-input">
    <input type="text" placeholder="Type your message here..." id="user-input">
    <button id="send-button">Send</button>
  </div>
</div>


<script>

</script>
</body>
</html>
